<div class="row">
  <% @tweets.each do |tweet| %>
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= tweet.title %></span>
        <p><%= tweet.text %></p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <% end %>
</div>

