<div class="row">
  <%= form_with(url: "/tweets/create", method: :post, class: 'col s12 m6 l8') do |form|%>
    <div class="card white">
      <div class="card-content">
        <h5>記事を投稿する</h5>
        <label for="title">Article Title</label>
        <%= form.text_field :title %>
        <br><br><br>
        <label for="text">Text</label>
          <%= form.text_field :text %>
        <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons">send</i>
        </button>
        </div>
      </div>
    </div>
  <% end %>
</div>



