<div class="container">
  <div class="row">
    <div class="success col s12 m8 l6">
      <h3>
        更新が完了しました。
      </h3>
      <a class="btn waves-effect waves-light" href="/">投稿一覧へ戻る</a>
    </div>
  </div>
</div>
